Repository blacktokkies/toquiz-client, pull requests merged in 2023-05, with the labels that each got.

#183 feat: 패널 리스트 컴포넌트 테스트 matcher를 수정한다
  client/src/components/panel/PanelList.test.tsx
Labels: 🧰 fix, 🌈 client

#185 feat: API 요청 함수에 쿼리 파라미터, 요청 본문 제네릭을 추가한다
  client/src/lib/api/auth.ts
  client/src/lib/apiClient.ts
Labels: ✨ feature, 🌈 client

#186 fix: API url에서 쿼리 스트링 앞에 `?`를 붙인다
  client/src/lib/apiClient.ts
Labels: 🧰 fix, 🌈 client

#187 feat: `GET /api/panels`를 커서 기반 페이지네이션으로 바꾼다
  client/src/components/panel/PanelList.test.tsx
  client/src/hooks/panel.ts
  client/src/lib/api/panel.ts
  client/src/lib/apiUrl.ts
  client/src/lib/queryKey.ts
  client/src/mocks/data/panel/myPanelData.ts
  client/src/mocks/data/panel/myPanelsData.ts
  client/src/mocks/handlers/panel.ts
  client/src/pages/Main.test.tsx
  client/src/pages/Main.tsx
Labels: ✨ feature, 🌈 client

#188 build: `cross-fetch`를 devDependencies로 옮긴다
  client/package.json
Labels: 🌈 client

#191 feat: 요소가 viewport 안에 있는지 감지하는 `useInView` 커스텀 훅을 작성한다
  client/src/hooks/useInView.tsx
Labels: ✨ feature, 🌈 client

#192 feat: 메인 페이지 패널 리스트에 무한 스크롤을 적용한다
  client/src/pages/Main.test.tsx
  client/src/pages/Main.tsx
Labels: ✨ feature, 🌈 client

#195 fix: 메인 페이지에 패널이 자연스러운 그리드처럼 보이게 한다
  client/src/components/panel/PanelItem.test.tsx
  client/src/components/panel/PanelItem.tsx
  client/src/components/panel/PanelList.test.tsx
  client/src/components/panel/PanelList.tsx
  client/src/pages/Main.tsx
Labels: 🧰 fix, 🌈 client

#197 refactor: 메인 페이지에서 패널 목록과 로직을 `InfinitePanelGrid`로 분리한다
  client/src/components/panel/InfinitePanelGrid.tsx
  client/src/pages/Main.test.tsx
  client/src/pages/Main.tsx
Labels: 🌈 client

#198 fix: `splice` 대신 `slice`를 써서 패널 리스트 mock 데이터 원본에 변경이 없도록 한다
  client/src/mocks/handlers/panel.ts
Labels: 🧰 fix, 🌈 client

#180 docs: README
  README.md
Labels: 📝 documentation
