Repository blacktokkies/toquiz-client, pull requests merged in 2023-03, with the labels that each got.

#59 feat: 로그인 사용자 상태를 정의한다
  client/package.json
  client/src/hooks/store/useUserStore.ts
  client/src/lib/constants.ts
  client/src/store/userStore.ts
  client/tsconfig.json
  yarn.lock
Labels: ✨ feature, 🌈 client

#63 feat: API 요청을 담당하는 fetch 모듈을 정의한다
  client/src/lib/apiClient.ts
Labels: ✨ feature, 🌈 client

#65 refactor: API 요청 함수가 apiClient 사용하도록 수정한다
  client/src/lib/api/auth.ts
Labels: ⚙️ refractor, 🌈 client

#69 feat: 자기 자신의 정보를 가져오는 API
  server/apps/api/src/users/user.controller.ts
  server/apps/api/src/users/users.module.ts
Labels: ✨ feature, 🌐 server

#71 feat: redis 설정 및 refreshToken 검증 로직
  server/apps/api/src/api.module.ts
  server/libs/common/authorization/auth.module.ts
  server/libs/common/cache/cache.config.ts
  server/libs/common/cache/cache.module.ts
  server/libs/common/cache/cache.service.ts
  server/libs/common/guards/strategies/jwt-refresh.strategy.ts
  server/libs/utils/sign-token/sign-token.ts
  server/package.json
  yarn.lock
Labels: ✨ feature, 🌐 server

#72 feat: toquiz-token 발급 관련 shared 인터페이스 생성
  shared/src/api/users/auth/index.ts
  shared/src/api/users/auth/issue-toquiz-cookie.ts
  shared/src/libs/domains/index.ts
  shared/src/libs/domains/toquiz-user.ts
Labels: ✨ feature, 🙌 common

#73 feat: toquiz token 발급 로직
  server/apps/api/src/users/users.controller.ts
  server/apps/api/src/users/users.repository.ts
  server/apps/api/src/users/users.service.ts
  server/libs/prisma/prisma/mongodb.schema.prisma
  server/libs/utils/cookie-option/cookie-option.ts
Labels: ✨ feature, 🌐 server

#76 feat: `useMutatioin`에서 `Error` 타이핑을 `ApiError | SyntaxError`으로 좁힌다
  client/src/hooks/mutations/auth.ts
Labels: ⚙️ refractor, 🌈 client

#82 build: 테스트에 필요한 의존성을 설치한다
  client/package.json
  yarn.lock
Labels: 📊 test, 🔧 setting, 🌈 client

#87 setting: viteset config를 작성한다
  client/src/setupTests.ts
  client/tsconfig.json
  client/vite.config.ts
Labels: 📊 test, 🔧 setting, 🌈 client

#88 build: 테스트 실행하는 npm 스크립트를 추가한다
  client/package.json
Labels: 📊 test, 🔧 setting, 🌈 client

#91 setting: vitest coverage provider를 설치, 설정한다
  client/package.json
  client/vite.config.ts
  yarn.lock
Labels: 📊 test, 🔧 setting, 🌈 client

#92 setting: Vitest, Testing Library ESLint 플러그인을 설치, 적용한다
  client/.eslintrc.cjs
  client/package.json
  yarn.lock
Labels: 📊 test, 🔧 setting, 🌈 client

#95 refactor: shared 폴더의 토큰 발급 로직 명 수정
  shared/src/api/users/auth/index.ts
  shared/src/api/users/auth/issue-toquiz-cookie.ts
  shared/src/api/users/auth/issue-toquiz-token.ts
Labels: ⚙️ refractor, 🌐 server

#96 refactor: 토큰 발급 로직 리팩토링
  server/apps/api/src/users/users.controller.ts
  server/apps/api/src/users/users.service.ts
  server/libs/utils/cookie-option/cookie-option.ts
Labels: ⚙️ refractor, 🌐 server

#97 feat: getPanel, getUserInfo API shared interface
  shared/src/api/panels/get-panel.ts
  shared/src/api/panels/index.ts
  shared/src/api/users/auth/get-user-info.ts
  shared/src/api/users/auth/index.ts
Labels: ✨ feature, 🙌 common

#98 refactor: 공통 인터페이스 사용
  server/apps/api/src/panels/panel.controller.ts
  server/apps/api/src/panels/panels.controller.ts
  server/apps/api/src/panels/panels.service.ts
  server/apps/api/src/users/user.controller.ts
Labels: ⚙️ refractor, 🌐 server

#99 refactor: shared 공통 인터페이스는 controller에서 응답할 때 사용하도록
  server/apps/api/src/panels/panels.service.ts
Labels: ⚙️ refractor, 🌐 server

#103 feat: toquiz token 가드
  server/libs/common/guards/toquiz.guard.ts
Labels: ✨ feature, 🌐 server

#104 feat: 질문 생성 관련 shared 공통 인터페이스
  shared/src/api/index.ts
  shared/src/api/questions/create-question.ts
  shared/src/api/questions/index.ts
  shared/src/libs/domains/index.ts
  shared/src/libs/domains/question.ts
  shared/src/libs/domains/toquiz-user.ts
Labels: ✨ feature, 🙌 common

#106 feat: DB 스키마 수정
  server/libs/prisma/prisma/mongodb.schema.prisma
  server/libs/prisma/prisma/mysql.schema.prisma
Labels: ✨ feature, 🌐 server

#108 feat: validationPipe 옵션에 `validateCustomDecorators: true` 설정
  server/apps/api/src/main.ts
Labels: ✨ feature, 🌐 server

#109 feat: create question 로직
  server/apps/api/src/api.module.ts
  server/apps/api/src/questions/dto/create-question.dto.ts
  server/apps/api/src/questions/dto/index.ts
  server/apps/api/src/questions/question.controller.ts
  server/apps/api/src/questions/questions.module.ts
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
  server/libs/common/authorization/auth.module.ts
  server/libs/common/decorators/ReceivedData.decorator.ts
Labels: ✨ feature, 🌐 server

#110 refactor: shared 인터페이스 함수 명 수정 `getUserInfo` -> `getMyInfo`
  shared/src/api/users/auth/get-my-info.ts
  shared/src/api/users/auth/index.ts
Labels: ⚙️ refractor, 🌐 server

#111 refactor: 함수 명 수정 `getUserInfo` -> `getMyInfo`
  server/apps/api/src/users/user.controller.ts
Labels: ⚙️ refractor, 🌐 server

#113 feat: 패널 질문 받아오기 관련 shared 인터페이스
  shared/src/api/questions/get-panel-questions.ts
  shared/src/api/questions/index.ts
  shared/src/libs/constants/index.ts
  shared/src/libs/constants/page-num.ts
Labels: ✨ feature, 🙌 common

#114 feat: 패널 질문 받아오는 로직
  server/apps/api/src/questions/questions.controller.ts
  server/apps/api/src/questions/questions.module.ts
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
Labels: ✨ feature, 🌐 server

#115 refactor: create question 로직
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
Labels: ⚙️ refractor, 🌐 server

#116 refactor: 질문을 페이지 단위로 가져오는 함수 명
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
Labels: ⚙️ refractor, 🌐 server

#119 feat: 질문 좋아요 관련 shared 인터페이스
  shared/src/api/questions/index.ts
  shared/src/api/questions/like-question.ts
Labels: ✨ feature, 🙌 common

#120 Feat/117 like question
  server/apps/api/src/questions/dto/index.ts
  server/apps/api/src/questions/dto/like-question.dto.ts
  server/apps/api/src/questions/questions.controller.ts
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
Labels: ✨ feature, 🌐 server

#125 fix: 테스트 환경에서 fetch 폴리필을 적용한다
  client/package.json
  client/src/setupTests.ts
  yarn.lock
Labels: 🧰 fix, 🌈 client

#128 fix: 노드 환경일 때는 절대 경로를 사용하여 API 요청한다
  client/package.json
  client/src/env.d.ts
  client/src/lib/apiClient.ts
  client/src/mocks/handlers/auth.ts
  yarn.lock
Labels: 🧰 fix, 📊 test, 🌈 client

#130 refactor: `API_ORIGIN`을 `API_BASE_URL`로 변경한다 (#129)
  client/src/env.d.ts
  client/src/lib/apiClient.ts
  client/src/mocks/handlers/auth.ts
Labels: ⚙️ refractor, 🌈 client

#132 refactor: `VITE_API_ORIGIN`을 `VITE_API_BASE_URL`로 변경한다 (#129)
  client/vite.config.ts
Labels: ⚙️ refractor, 🌈 client

#133 docs: 리드미에 `VITE_API_BASE_URL` 작성 추가한다 (#131)
  client/README.md
Labels: 📝 documentation, 🌈 client

#138 feat: React Query 훅 테스트에 사용할 wrapper 생성 함수를 작성한다
  client/.eslintrc.cjs
  client/src/lib/test-utils/index.tsx
  client/src/lib/test-utils/react-query.tsx
Labels: 📊 test, ✨ feature, 🌈 client

#139 feat: React Query 컴포넌트 테스트에 사용할 render 함수를 작성한다 (#137)
  client/src/lib/test-utils/react-query.tsx
Labels: 📊 test, ✨ feature, 🌈 client

#140 fix: `GET /api/user` 인터페이스를 `shared`에서 가져온다
  client/src/lib/api/auth.ts
  client/src/mocks/handlers/auth.ts
Labels: 🧰 fix, 🌈 client

#147 feat: `GET /panels` mock API 핸들러를 작성한다 (#146)
  client/src/mocks/data/panel/myPanelData.ts
  client/src/mocks/handlers/index.ts
  client/src/mocks/handlers/panel.ts
Labels: ✨ feature, 🌈 client

#155 feat: `ToquizUserId` 데코레이터
  server/libs/common/decorators/toquiz-user-id.decorator.ts
Labels: ✨ feature, 🌐 server

#156 refactor: 패널 활동정보(질문, 좋아요) 업데이트 로직
  server/apps/api/src/panels/panels.controller.ts
  server/apps/api/src/panels/panels.repository.ts
  server/apps/api/src/panels/panels.service.ts
  server/apps/api/src/questions/questions.repository.ts
  server/apps/api/src/questions/questions.service.ts
Labels: ⚙️ refractor, 🌐 server

#158 cicd: 프론트엔드 테스트 자동화 workflow를 작성한다
  .github/workflows/test.fe.yml
Labels: 🌈 client

#164 docs: 실행 커맨드에 `yarn shared install`을 추가한다
  client/README.md
Labels: 📝 documentation, 🌈 client
