Repository blacktokkies/toquiz-client, pull requests merged in 2023-02, with the labels that each got.

#32 [Shared] `LogInBody` 인터페이스에 `username` 필드 삭제하고 `password` 필드를 추가한다
  shared/src/api/users/auth/login.ts
Labels: 🪄 fix

#48 [Server] 패널 정보 가져오기
  server/apps/api/src/panels/panels.controller.ts
  server/apps/api/src/panels/panels.module.ts
  server/apps/api/src/panels/panels.repository.ts
  server/apps/api/src/panels/panels.service.ts
  server/apps/api/src/users/users.repository.ts
  server/apps/api/src/users/users.service.ts
  server/libs/prisma/prisma/mysql.schema.prisma
Labels: ✨ feature, ⚙️ refractor, 🌐 server

#53 build: npm 패키지 매니저를 사용하지 않도록 설정한다 (#52)
  .npmrc
  package-lock.json
  package.json
Labels: 🔧 setting, 🙌 common

#56 fix: POST `/api/users/auth/login` 응답 수정사항을 반영한다
  client/src/mocks/handlers/auth.ts
Labels: 🧰 fix, 🌈 client
